nav {
  list-style : none;
  background-color: #EFD9CE;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  text-decoration: none;
  color: #A4243B;
  display: block;
  float: left;
  padding: 15px 50px;
}

li a:hover {
  background-color: wheat;
  color: teal;
}

h3 {
  color: #A4243B;
  text-decoration: overline underline 5px #D8973C dashed;
   letter-spacing: 2px;
  word-spacing: 20px;
  text-shadow: 2px 2px 5px teal; 
}

body {
  background-color: #D5C7BC;
}

img:hover {
  width: 300px;
  border: dashed #D8973C;
  border-radius: 90%;
}

h3:hover {
  text-decoration: underline dashed #D8973C 20px;
  font-size: 400%;
  text-transform: uppercase;
}
